body {
  background-color: #edf0f7c7;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 1rem;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-align: center;
}

input,
button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

button {
  
  color: #fff;
  cursor: pointer;
}

.add-task-btn{
  background-color: green;
}

.edit-task-btn{
  background-color: orange;
}

input {
  background-color: #fff
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.delete-button{
  background-color: red;
}

.edit-button{
  background-color: blue;
}

.completed {
  text-decoration: line-through;
}

